/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.hidden {
  display: none;
}

img {
  width: 400px;
}

ul li {
  list-style-type: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/