/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 0 1rem;
}

.calculator {
  background-color: #000;
  border-radius: 24px;
  padding: 1.5rem;
  box-shadow: 0 10px 25px;
}

/* Display */
.calculator .display {
  margin-bottom: 1rem;
}

.calculator input[type="text"] {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  border-radius: 12px;
  border: none;
  text-align: right;
  background: #111;
  color: #fff;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Button grid */
.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}

/* Button base */
.calc-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;

}

.calc-buttons button:hover {
  background: #242323;
}

.calc-buttons button:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}