/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.container {
  margin: 20px auto;
  width: 50%;
}

.calculator {
  width: 50%;
  background-color: black;
  margin: 0 auto;
  border-radius: 25px;
  height: 350px;
}

.calc-buttons {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.calc-buttons button {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.calculator>div {
  width: 50%;
  margin: 0 auto;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/